div.todo-list-wrapper { background: #fff; width: 600px; height: 700px; border-radius: 15px; box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  h1 { font-size: 26px; color: $secundaryPurple; margin: 25px 50px; font-weight: 500; text-align: center; padding-bottom: 20px; border-bottom: 1px $primaryPurple solid; }
}