@import './reset.scss';

$primaryPurple: #6200EE;
$secundaryPurple: #360099;
$primaryBlack: #666;

body, body div.App { height: 100vh; font-family: Ubuntu !important; }

@import './pages/home.scss';

@import './components/input.scss';
@import './components/todo-list.scss';
