@font-face {
  font-family: 'short_stackregular';
  src: url('/fonts/shortstack-regular.eot');
  src: url('/fonts/shortstack-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/shortstack-regular.woff2') format('woff2'),
       url('/fonts/shortstack-regular.woff') format('woff'),
       url('/fonts/shortstack-regular.ttf') format('truetype'),
       url('/fonts/shortstack-regular.svg#short_stackregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}